<!DOCTYPE html>
<html>
  <head>
    <title>Webpack5</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'webpacker', media: 'all' %>
    <style>
      html, body {
        height: 100%;
      }
      .swiper {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <%= javascript_pack_tag 'webpacker' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
